body {
  background: #552583;
}

h1, h2, h3, h4, h5, h6 {
  color: #fdb927;
}

header {
  border-bottom: 1px dashed #fdb927;
}

header .container {
  background: url(/assets/images/prodis_logo_transparent.png) no-repeat right;
  background-size: contain;
}

header h1 {
  color: #fdb927;
  margin: 0;
}

header h2 {
  margin: 0 0 10px 0;
}

header h1:before {
  content: "";
}

footer {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border-top: 1px dashed #fdb927;
  padding: 20px 0;
  margin: 40px 0 0 0;
}

footer section {
  margin: 0;
}

a:hover {
  text-decoration: underline;
}

ul li {
  list-style-image: none;
}

.menu {
  margin: 0 0 15px 0;
}

.menu a {
  padding: 5px 10px 5px 0;
  font-size: 15px;
}

.footer-info {
  font-size: 15px;
  font-weight: 300;
  margin: 0;
  color: #666;
}

.copyright {
  font-size: 9px;
}

.btn {
  border: none;
}

#a-title:hover {
  text-decoration: underline;
  color: #fdb927;
}

.post-header { margin: 0 0 30px }
.post-header h1 { margin: 0 }
.post-header small { color: #888 }

.post-item { margin: 0 0 40px 0 }
.post-item a { text-decoration: none }
.post-item a:hover { text-decoration: underline }
.post-item h2 { color: #63c0f5; margin: 0; }
.post-item p { margin: 15px 0 5px 0 }
.post-item small { color: #888 }

@media screen and (max-width: 400px) {
  header h1 {
    font-size: 16px;
  }

  .copyright {
    font-size: 8px;
  }
  .menu a {
    font-size: 13px;
  }
}

@media screen and (min-width: 401px) and  (max-width: 515px) {
  header h1 {
    font-size: 18px;
  }
}

@media screen and (min-width: 516px) and  (max-width: 650px) {
  header h1 {
    font-size: 23px;
  }
}

@media screen and (min-width: 651px) {
  header h1 {
    font-size: 31px;
  }
}
